@import 'nib'

border-color = #333631
link-color-hover = #bbb
link-color =  #474b42
bg-color = #fbfbfa

fn-left()
    float left
fn-right()
    float right

*
    margin 0
    padding 0
div
    box-sizing  border-box
html
    font-size 62.5%
body
    font-size 1.4rem
    a
        color link-color
        &:link
        &:visited
        &:active
            color link-color
        &:hover
            opacity 0.6
.header
    border-top 2px solid border-color
    border-bottom 1px solid #ccc
    position relative

    .inner-header
        clearfix()
        font-size 2.2rem
        width 650px
        margin 0 auto
        padding 10px

        .nav a
            padding 10px 20px
            text-decoration none

.main-wrapper
    background url(/images/bg.png)

    .inner-wrapper
        width 650px
        margin 0 auto
        background #fff
        border-left 1px solid #ccc
        border-right 1px solid #ccc

        .logo
            text-align center
            font-size 3rem
            padding-top 30px
            a
                text-decoration none
                color #ccc
                border-bottom 3px solid
                padding 0 3px 6px

                &:hover
                    color #000
        .page-meta
            text-align center
            margin-top 30px
            padding 10px 0
            background bg-color
            border-top 1px solid #eee
            border-bottom 1px solid #eee
        .main-area
            margin-top 40px
            padding 20px
            .block
                h4
                    font-size 13px
                    text-transform uppercase
                    font-weight 300
                    font-family sans-serif
                    color #999

.lists time
    color #666
    font-family monospace
    font-size 14px

.main-area ul.entry-list
    margin 0
    padding 0
    list-style-type none

.entry-list .entry-item
    a
        text-decoration none
        color #333
    margin 25px 0 35px
    line-height 25px
    min-height 50px
    .entry-meta
        font-size 14px
        font-family Optima, "Helvetica Neue", sans-serif
        color #999
    .detail
        h2
            margin 8px 0 12px
            font-size 24px
            font-smoothing antialiased
        .description
            font-size 18px

.footer
    text-align center
    font-size 14px
    font-family Optima "Helvetica Neue", sans-serif
    padding-top 25px
    border-top 1px solid #ccc
    .inner-wrapper
        max-width 650px
    p
        color #999

.post-entry
    .entry-title
        text-align center
        margin-bottom 8px
    .entry-meta
        margin-bottom 26px
        text-align center
        font-size 14px
        font-family Optima, "Helvetica Neue", sans-serif
