|---
|layout: page
|title: Archives
|weight: 1
|permalink: /archives/
|---
='\n'
ul.entry-list
    = '\n'
    | {% for post in site.posts %}
    li.entry-item
        div.entry-meta
            time {{ post.date | date: "%Y-%m-%d" }}
        div.detail
            h2
                a(href="{{ post.url | prepend: site.baseurl }}") {{ post.title }}
            a.description(href="{{ post.url | prepend: site.baseurl }}") {{ post.description }}
    = '\n'
    | {% endfor %}
