include ./header.jade
div.main-wrapper
    div.inner-wrapper
        div.logo
            a(href="/") 8D is Here
        div.page-meta
            | 天青色等烟雨，而我在等你
        div.main-area
            block content
include ./footer.jade
