head
    block title
        title {% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}
    | {% if page.title != "/" %}
    link(rel="prev", href="{{ site.url }}")
    | {% endif %}
    link(rel="stylesheet", href="/css/site.css")
    meta(name="viewport" content="width=device-width")
    meta(name="author", content="{{ site.author }}")
    meta(name="keywords", content="{{ site.keywords }}")
    meta(name="description" content="{{ site.description }}")
    link(rel="icon" href="{{ site.favicon }}" type="image/png")
    link(rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")

    //- twitter card
    meta(property="twitter:card", content="summary")
    meta(property="twitter:site", content="{{ site.twitter }}")
    meta(property="twitter:creator", content="{{ site.twitter }}")

    meta(property="twitter:title" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}")
    meta(property="twitter:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}")
    meta(property="twitter:url" content="{{ site.url }}{{ page.url }}")
    meta(property="twitter:domain" content="{{ site.title }}")
    | {% if page.image %}
    meta(property="twitter:image", content="{{ page.image }}")
    | {% endif %}
