extends ./layout.jade
block content
    div.block.lists
        h4 recently updates
        ul.unstyled
            li
                time 2000-00-00
                 | — 
                a(href="/") 测试标题
