|---
|layout: page
|title: Home
|weight: 0
|permalink: /
|---
='\n'
|{% capture intro %}
|{% include intro.md %}
|{% endcapture %}
|{{ intro | markdownify }}
h4 recently updates
ul.unstyled
    = '\n'
    | {% for post in site.posts limit: 5 %}
    li
        time {{ post.date | date: "%Y-%m-%d" }}
        span &nbsp;—&nbsp; 
        a(href="{{ post.url | prepend: site.baseurl }}") {{ post.title }}
    = '\n'
    | {% endfor %}
|{% capture outro %}
|{% include outro.md %}
|{% endcapture %}
|{{ outro | markdownify }}
