|---
|layout: default
|---
= '\n'
div.post-entry
    h1.entry-title {{ page.title }}
    div.entry-meta
        time.updated {{ page.date | date: "%b %-d, %Y" }}
    div.entry-content
        | {{ content }}
    |{% if site.comments %}
    div.comment-area
        |{% include ga.html %}
    |{% endif %}
