extends ./layout.jade
block content
    ul.entry-list.unstyled
        li.entry-item
            div.entry-meta
                time.updated May 28, 2014
            div.detail
                h2
                    a(href="/") 测试标题
                a.description(href="/") 天青色等烟雨 而我在等你
